<div class="col-md-8">
    <article class="blog-post">
        <div class="blog-post-image">
            <a href="#"><img src="{$new.thumb}" alt=""  style="width: 750px"></a>
        </div>
        <div class="blog-post-body">
            <h2><a href="#">{$new.title}</a></h2>
            <div class="post-meta">
                <span><i class="fa fa-clock-o"></i>{$new.update_time}</span>
                <!--/<span><i class="fa fa-comment-o"></i> <a href="#">343</a></span>-->
            </div>
            <div class="blog-post-text">
                {$new.content}
            </div>
        </div>
    </article>
</div>