<footer class="footer">
    <div class="footer-bottom">
    &copy;  wzy的blog &nbsp<a href="https://www.wzyhome.date/blog" target="_blank">点击打开</a>
    </div>
</footer>
<script src="__STATIC__/js/muban/jquery.min.js"></script>
<script src="__STATIC__/js/dialog/layer.js"></script>
<script src="__STATIC__/js/dialog.js"></script>
<script src="__STATIC__/js/muban/bootstrap.min.js"></script>
<script src="__STATIC__/js/muban/jquery.bxslider.js"></script>
<script src="__STATIC__/js/muban/mooz.scripts.min.js"></script>
<script src="__STATIC__/js/audio.js"></script>