<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand">二次元之家</a>
            <div class="btn-group pull-right">
                <a class="btn" href="/erciyuan/public"><i class="icon-user"></i> Admin</a>
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/erciyuan/public">回到前台</a></li>
                    <li class="divider"></li>
                    <li><a href="{:url('login/loginout')}">退出登录</a></li>
                </ul>
            </div>
            <div class="nav-collapse">
                <ul class="nav">
                    <li><a href="{:url('index/index')}">后台主页</a></li>

                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">菜单管理<b
                            class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{:url('menu/index')}">菜单列表</a></li>
                            <li class="divider"></li>
                            <li><a href="{:url('menu/add')}">添加菜单</a></li>
                        </ul>
                    </li>

                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">推荐位管理<b
                            class="caret"></b></a>
                        <!-- todo -->
                        <ul class="dropdown-menu">
                            <li><a href="{:url('position/index')}">推荐位列表</a></li>
                            <li class="divider"></li>
                            <li><a href="{:url('position/add')}">添加推荐位</a></li>
                        </ul>
                    </li>

                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">文章管理<b
                            class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{:url('news/index')}">文章列表</a></li>
                            <li class="divider"></li>
                            <li><a href="{:url('news/add')}">添加文章</a></li>
                        </ul>
                    </li>


                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">推荐文章管理<b
                            class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{:url('content/index')}">推荐文章列表</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">主题管理<b
                            class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{:url('style/index')}">主题列表</a></li>
                            <li class="divider"></li>
                            <li><a href="{:url('style/add')}">添加主题</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">音频管理<b
                            class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{:url('sound/index')}">音频列表</a></li>
                            <li class="divider"></li>
                            <li><a href="{:url('sound/add')}">添加音频</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">场景管理<b
                            class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{:url('place/index')}">场景列表</a></li>
                            <li class="divider"></li>
                            <li><a href="{:url('place/add')}">添加场景</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">语言管理<b
                            class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{:url('lang/index')}">语言列表</a></li>
                            <li class="divider"></li>
                            <li><a href="{:url('lang/add')}">添加语言</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">用户管理<b
                            class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{:url('user/index')}">用户列表</a></li>
                            <li class="divider"></li>
                            <li><a href="{:url('user/add')}">添加用户</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">管理员管理<b
                            class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{:url('admin/index')}">管理员列表</a></li>
                            <li class="divider"></li>
                            <li><a href="{:url('admin/add')}">添加管理员</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>